{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<div id="signup-container" class="row">
  <div id="form-container" class="col-6">

    <div class="container-fluid page-title-container">
      <h1>{% trans "Sign Up" %}</h1>
      <p>{% blocktrans %}Already have an account? 
        <br>
        <br>
        Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>
    </div>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
       <!--buttons from bootswatch lux theme-->
       <div class="d-grid gap-4 col-4 button-container-left">
        <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </div>
    </form>
  </div>
  <div id="sign-image-float-right" class="col-6"></div>
  <div class="filler  col-6"></div>
</div>

<!-- <div id="bottom-image-container">
  <img src="https://res.cloudinary.com/dllwurooy/image/upload/v1644340475/birdal-union/burcu-dogan-gp2kSf1fNLA-unsplash_ox61tq.jpg" class="img-fluid">
</div> -->

{% endblock %}
