* {
	margin: 0;
	padding: 0;
}

body {
    background-color: white;
}

/* -------------------------------> footer */ 

footer {
    background-color: lavender;
    width: 100%;
	height: 150px;
	margin-top: auto;
}

.company-info p {
	text-align: left;
}

.social-links ul {
	list-style-type: none;
}

.social-links li {
	text-align: right;
}


/* -------------------------------> media queries */ 

