/* font awsome */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,900;1,100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
    background-color: white;
	font-weight: 100;
}

h1, h2, h3 {
	font-weight: 500;
}


p {
    font-family: Raleway;
	font-weight: 400;
}


/* -------------------------------> navbar */ 

.navbar  {
    font-weight: 500;
	margin-left: 1%;
	margin-right: 1%;
}

.navbar-brand {
	font-size: 1.5rem;
}


/* -------------------------------> footer */ 
#footer-container {
	margin-top: 10rem;
}

footer {
    background-color: black;
	height: auto;
	width: 100vw;
	color: white;
	position: static;
	text-align: right;
}

footer h1 {
	font-size: 50px;
	font-weight: lighter;
	color: white;
	padding-top: 2rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
}

footer p {
	margin-top: 8px;
	margin-bottom: 2px;
	padding-right: 1rem;
}

footer a {
	color: white;
	margin-top: 8px;
	margin-bottom: 2px;
	padding-right: 1rem;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
	color: white;
}

/* -------------------------------> index.html */ 

#hero-outer-container {
	width: 100vw;
	overflow: hidden;
}

#hero-image {
	background-color: #C6C6C7;
	background-image: url('https://res.cloudinary.com/dllwurooy/image/fetch/https://res.cloudinary.com/dllwurooy/image/upload/v1644340472/birdal-union/duo-chen-s-unsplash_mvembb.jpg');
	background-position: 10% 90%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150vw;
	width: 100vw;

	/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* level of zoom */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}


#index-img-1 {
	background-color: #C6C6C7;
	background-image: url('https://res.cloudinary.com/dllwurooy/image/upload/v1644340471/birdal-union/pexels-oliver-jpg_fkhhbi.jpg');
	background-position: 10% 90%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150vw;
	width: 100vw;
	margin-bottom: 2rem;
}

#index-img-2 {
	background-image: url('https://res.cloudinary.com/dllwurooy/image/upload/v1644340477/birdal-union/charisse-kenion-69epvVgm0Ws-unsplash_d3bgvn.jpg');
	background-position: 10% 90%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vw;
	width: 100vw;
}


.container-fluid {
	padding: 0;
}

.text-container {
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
}

.text-container p {
	padding-left: 10%;
	padding-right: 10%;
	font-size: 18px;
}

.text-container a {
	text-decoration: none;
}

.text-container a:hover {
	text-decoration: underline;
}


.button-container {
	margin-top: 2rem;
	margin-bottom: 5rem;
}

.button-container a {
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	padding: 2rem;
}

.button-container a:hover {
	text-decoration: underline;
	color: white;
}

/* -------------------------------> about.html */

.container-overflow {
	overflow: hidden;
}

#about-img-1 {
	background-image: url('https://res.cloudinary.com/dllwurooy/image/upload/v1644340473/birdal-union/joanna-unsplash_bykogt.jpg');
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150vw;
	width: 100vw;

	/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#about-img-2 {
	background-image: url('https://res.cloudinary.com/dllwurooy/image/upload/v1644340478/birdal-union/taylor-heery--_tUHvw09jY-unsplash_y2h4by.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 150vw;
	width: 100vw;
}

#about-img-3 {
	background-image: url('https://res.cloudinary.com/dllwurooy/image/upload/v1644340470/birdal-union/feli-ramsanjami-agung-wUe_Q-t4-cI-unsplash_ntwt96.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 150vw;
	width: 100vw;
}

/* level of zoom */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

.text-container-about {
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
}

.text-container-about h1 {
	padding-bottom: 1rem;
}

.text-container-about p {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 16px;
}

.text-container-about a {
	text-decoration: none;
}

.text-container-about a:hover {
	text-decoration: underline;
}

/* -------------------------------> discover_designers.html */ 

.title-container{
	margin-top: 10%;
	margin-bottom: 5%;
	height: 110px;
	line-height: 110px;
	margin-left: 1%;
}

.title-container h1 {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}


.card {
	border: none;
}

.card .card-text {
	font-size: 14px;
}

.card a {
	text-decoration: none;
}


/* -------------------------------> designer_profile.html */ 

#designer_info {
	margin-left: 1%;
}


#designer_info h2, p {
	margin-top: 5%;
}

#designer_info p {
	font-size: 18px;
}

#designer-bio-container, #designer-review-container {
	margin: 5% 2% 10% 2%;
}

#designer-bio-container p {
	text-align: left;
	margin-right: 2%;
}

.button-container-left {
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 1%;
}

.button-container-left a {
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
}

.image-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


/* -------------------------------> booking.html */ 

#booking-section {
	margin-left: 1%;
	margin-top: 10%;
	height: 100px;
}

#booking-form {
	margin-left: 1%;
	margin-right: 1%;
}

#form-submit-btn {
	margin-top: 5%;
}

.col-form-label {
	padding-top: 0;
}

/* -------------------------------> Login.html */ 

.page-title-container {
	margin-top: 10%;
	margin-bottom: 5%;
	height: 110px;
}

.page-title-container h1, p {
	margin-left: 1%;
}

#form-container {
	margin-left: 1%;
}

#form-container input {
	border: none;
	border-bottom: 1px solid #212121;
	margin-left: 2%;
}

#image-float-right {
	margin-top: 4%;
	height: 900px;
	background-image: url("https://res.cloudinary.com/dllwurooy/image/upload/v1644340480/birdal-union/filipp-romanovski-unsplash2_e2wbxh.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 10% 90%;
	overflow: hidden;
	opacity: 0.7;
}

/* -------------------------------> Logout.html */ 

#log-out-image-float-right {
	margin-top: 4%;
	height: 900px;
	background-image: url("https://res.cloudinary.com/dllwurooy/image/upload/v1645460095/k2hts22yvos6v9dgyxim.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 10% 90%;
	overflow: hidden;
	opacity: 0.7;
}



/* -------------------------------> signup.html */ 

#signup-container {
	margin-bottom: 10rem;
}

#sign-image-float-right {
	margin-top: 4%;
	height: 900px;
	background-image: url("https://res.cloudinary.com/dllwurooy/image/upload/v1644340475/birdal-union/burcu-dogan-gp2kSf1fNLA-unsplash_ox61tq.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 38%;
	overflow: hidden;
	opacity: 0.7;
}


/* -------------------------------> customer_account.html */ 

#customer-booking-section {
	position: relative; 
    height: auto;
    width: 100vw;
	padding-top: 10vw;
	padding-bottom: 10vw;
}

#customer-booking-section::before {
	content: "";
	background-image: url("https://res.cloudinary.com/dllwurooy/image/upload/v1644340477/birdal-union/olly-allars-iUJTk0GbIKY-unsplash_tz1we5.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 80%;
	opacity: 0.5;
    overflow: hidden;
	position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#customer-booking-section p {
	font-size: 22px;
	margin-left: 1%;
	color: black;
}

#booking-card {
	margin-top: 10%;
	margin-left: 1%;
}

#booking-card p {
	color: white
}

#account-actions {
	margin-top: 5%;
}


/* -------------------------------> media queries */ 

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {

	/*  -------------> index.html */

	#hero-outer-container {
		height: 80vw;
		margin-bottom: 4rem;
	}
	
	#hero-image {
		height: 80vw;
		background-position: 50% 50%;
	}

	#index-img-1 {
		height: 50vw;
	}

	#index-img-2 {
		height: 50vw;
		width: 50vw;
		margin-bottom: 4rem;
	}

	.text-container {
		margin-top: 4rem;
		margin-bottom: 2rem;
	}

	.text-container p {
		font-size: 22px;
	}

	.button-container {
		margin-top: 4rem;
		margin-bottom: 9rem;
	}

	.button-container a {
		padding: 5rem;
	}

	/*  -------------> about */
	#about-img-1 {
		height: 45vw;
		background-position: 50%;
	}

	#about-img-2 {
		height: 80vw;
		background-position: 80% 20%;
	}

	#about-img-3 {
		height: 80vw;
		margin-bottom: 5rem;
		background-position: 20% 80%;
	}

	.text-container-about p {
		padding-left: 5rem;
		padding-right: 5rem;
		font-size: 18px;
	}
	

	/*  -------------> footer*/
	#footer-container {
		margin-top: 15rem;
	}

	/*  -------------> designer_profile.html */

	#designer_info h2 {
		font-size: 32px;
	}

	#designer_info p {
		font-size: 25px;
		margin-left: 0;
	}

	#designer_info h2, p {
		margin-top: 3%;
	}

	.button-container-left {
		margin-top: 4%;
		margin-left: 0;
	}

	.title-container {
		margin-bottom: 10%;
	}

	/* -------------> login.html  */

	#form-container {
		margin-top: 0;
		margin-left: 0;
	}

	label {
		margin-left: 1%;
		text-transform: uppercase;
	}

	.page-title-container {
		margin-bottom: 10%;
	}

	/* -------------> logout.html  */

	.filler {
		display: none;
	}

}

/* Medium devices (ipad screens, 580px - 1020px) */
@media only screen and (min-device-width : 580px) and (max-device-width : 1020px) {

	/* -------------> login.html  */

	#form-container {
		width: 100vw;
		height: 100vw;
		margin-top: 5%;
	}

	#image-float-right {
		display: none;
	}

	/* -------------> logout.html  */
	#log-out-image-float-right {
		display: none;
	}

	.filler {
		display: none;
	}

	/*  -------------> signup.html */ 
	#sign-image-float-right {
		display: none;
	}

	/* -------------> designer_profile  */

	.image-center {
		display: contents;
	}

}


/* Small devices (mobile screens, 320px - 580px) */
@media screen and (min-width: 320px) and (max-device-width : 580px) {

	/* -------------> login.html  */

	.page-title-container {
		margin-top: 10%;
		height: 150px;
	}

	#form-container {
		width: 100vw;
		height: 100vw;
		margin-top: 5%;
	}

	#image-float-right {
		display: none;
	}

	/* -------------> logout.html  */

	#log-out-image-float-right {
		display: none;
	}

	.filler {
		height: 150px;
	}

	/* -------------------------------> signup.html */ 
	#sign-image-float-right {
		display: none;
	}


	/* -------------> designer_profile  */
	
	.image-center {
		display: contents;
	}
	
}
