{% extends 'base.html' %}

{% block content %}

<div class="container-fluid container-overflow">
    <div class="row">
        <div id="about-img-1" class="col text-over-img">
            <p>We're here to connect you to a range of talented designers, all in one place. Here's how we started….</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-container">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-container">
            <p>intro section</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col text-container">
            <h1>How it works</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-container">
            <p>how it works section</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-container">
            <h1>Our Designers</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-container">
            <p>Out Designers section</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-container">
            <h1>Join the Union</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-container">
            <p>
                Whether your a future bride-to-be, maid of honour or simply looking for wedding inspiration, create your Birdal account and never miss out
            </p>
        </div>
        <div class="col-12 button-container d-flex justify-content-center">
            <button type="button" class="btn btn-primary">
                <a href="{% url 'account_signup' %}">Sign up</a>
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-container">
            <a href="{% url 'home' %}">Back Home</a>
        </div>
    </div>
</div>




{% endblock %}