{% extends 'base.html' %}

{% block content %}

<div id="booking-section" class="container-fluid">
    <h2>Make your Booking</h2>
</div>


<!-- <form action="" method="post">
  {% csrf_token %}

  {{ bookingform }}

</form> -->


<!--Booking form template edited from Bootswatch Lux theme-->
 <!--customer information to be pre populated if they are signed in -->
<div id="booking-form">
  <form>
    <fieldset>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label"></label>
      </div>

      <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">First Name</label>
        <input type="text" class="form-control" placeholder="First name" id="inputDefault">
      </div>

      <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">Last Name</label>
        <input type="text" class="form-control" placeholder="Last name" id="inputDefault">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label class="form-label mt-4">Pick a Date and Time</label>
        <input type="datetime-local" class="form-control" id="Test_DatetimeLocal" placeholder="Choose Availability">
      </div>

      <div class="form-group">
        <label for="exampleSelect1" class="form-label mt-4">Select a price range</label>
        <select class="form-select" id="exampleSelect1">
          <option>£2,500 - £3,500</option>
          <option>£3,500 - £4,500</option>
          <option>£4,500 - £5,500</option>
          <option>£5,500 - £6,500</option>
          <option>£6,500 - £7,500</option>
          <option>£7,500 - £8,500</option>
          <option>£9,000 + </option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleTextarea" class="form-label mt-4">Tell us more about your dress</label>
        <textarea class="form-control" id="exampleTextarea" rows="10"></textarea>
      </div>

      <button id="form-submit-btn" type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</div>


 <!--Modal to show up once booking is completed -->
 <div>
</div>


{% endblock %}
