{% extends 'base.html' %}

{% block content %}

<div>
    <h2>Make youer Booking with (name of Designer)</h2>
</div>

<!--Booking form-->
<div>
    <!--customer information if they are signed in: -->

    <!--First Name take from database-->
    <!--Last Name taken from database-->
    <!--Email taken from database-->
    <!--Contact Number taken from database-->
    <!--Drop down to view Calendar with aviable dates and times -->
    <!--Date of Wedding -->
    <!--Message-->

    <div>
        <!--Submit Button (button from bootswatch lux theme) -->
        <button type="button" class="btn btn-primary"></button>
   </div>

   <!--Modal to show up once booking is completed -->
   <div>
   </div>
</div>




{% endblock %}
