{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div id="booking-section" class="container-fluid text-center">
    <h3>Make your Booking with, {{ designer.first_name }}</h3>
</div>

<div class="container-fluid">
  <div class="row container-center">
      <div class="col-md-6 push-to-center">
          <form action="{% url 'booking' designer.id %}" method="POST" id="booking-form">
            {% csrf_token %}
            {{ form | crispy}}
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </form>
      </div>
  </div>
</div>


{% endblock %}
