{% extends 'base.html' %}

{% block content %}

<!--Create Account form-->
<div>
    <!--First Name-->
    <!--Last Name-->
    <!--Email-->
    <!--Contact Number-->
    <!--Create Password-->
    <!--Retype password-->
    <div>
        <!--Create Account Button (button from bootswatch lux theme) -->
        <button type="button" class="btn btn-primary">Create My Account</button>
    <div>
</div>

 <!--Modal to show up once user has created account successfully -->
 <!--Once account is created user will be redirected to the customer account page-->
 <div>
</div>

<!--Image -->
<div>
</div>

{% endblock %}
