{% extends 'base.html' %}

{% block content %}

<!--Account welcome-->
<div class="container-fluid">
  <div class="row g-0">
    <div class="col py-0 text-center pt-5 mb-5">
      <h3>Welcome, {{ profile.user.username }}</h3>
    </div>
  </div>
</div>

<!--View bookings section -->
<div  class="container-fluid" id="profile-info">
  <div class="row">
    <div class="col-12 text-center">
      <p>Your Bookings: {{ bookings | length }}</p>
    </div>
  </div>
  <div class="row container-cetner">
    {% for booking in bookings %}
      <div class="col-sm-12 col-md-4 push-to-center">
        <!--cards from bootswatch lux theme -->
          <div id="booking-card" class="card text-white bg-primary" style="max-width: 20rem;">
            <div class="card-body">
              <p class="card-text">Booking ref: {{ booking.booking_id}}</p>
              <p class="card-text">Designer: {{ booking.designer_name}}</p>
              <p class="card-text">Date: {{ booking.booking_date | date:"d M Y" }}</p>
              <p class="card-text">Time: {{ booking.select_time }}</p>
              {% if booking.status == 'Confirm Booking' %}
                <p class="card-text">Status: Your booking has been confirmed</p>
                {% else %}
                <p class="card-text">Status: Confirmation pending</p>
              {% endif %}
            </div>
            <div class="card-footer">
              <p class="card-text">
                <a href="{% url 'edit_booking' booking.id %}" aria-label="edit your exisiting booking">Reschdule</a> / 
                <a href="{% url 'delete_booking' booking.id %}" aria-label="cancel your existing booking">Cancel <i class="fa-solid fa-arrow-right"></i></a>
              </p>
            </div>
          </div>  
      </div>
      {% empty %}
      <!-- if there are no bookings -->
      <div class="col-12 pt-5">
          <p class="mb-5">You currently have no Bookings.
            <br>
            <br>
            Need to book someone one in?
          </p>
          <div class="col-12 button-container d-flex justify-content-center">
            <button type="button" class="btn btn-primary">
                <a href="{% url 'discover_designers'%}" aria-label="visit our discover designers page">Discover Designers</a> 
            </button>
          </div>
      </div>
    {% endfor %}
    <div class="col-12">
      <div id="account-actions">
        <p class="pb-2"><a href="{% url 'account_logout' %}">Log Out <i class="fa-solid fa-xmark"></i></a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}