{% extends 'base.html' %}

{% block content %}

<!--Account welcome-->
<div class="title-container container-fluid">
  <h1>Welcome</h1>
</div>

<!--View bookings section -->
<div id="customer-booking-section" class="container-fluid">
  <div class="ontop-of-opacity">
    <p>Your Bookings:</p>
  </div>

  <!--card  from bootswatch lux theme -->
  <div id="booking-card" class="card text-white bg-primary mb-3 ontop-of-opacity" style="max-width: 20rem;">
    <div class="card-body">
      <p class="card-text">Namer of Designer</p>
      <p class="card-text">12th October</p>
      <p class="card-text">1pm</p>
      <p class="card-text">Reschdule / Cancel</p>
    </div>
  </div>

  <div id="account-actions" class="ontop-of-opacity">
    <p>Log Out</p>
    <p>Update Personal Details</p>
    <p>Delete Account</p>
  </div>
</div>


{% endblock %}