{% extends 'base.html' %}

{% block content %}


<!--album template from Bootstrap --->
<main class="image-container" role="main">
  <small id="back-link">
    <i class="fa-solid fa-chevron-left"></i>
    <a href="{% url 'discover_designers' %}" aria-label="a link to take the user back to the discover designers page">Back</a>
  </small>
  <div class="album py-4">
    <div class="container">
      <div class="row">
        {% for img in images %}
        {% if img.id == img.id %}
          <div class="col-md-4 image-center">
            <div class="card mb-4">
              <img class="card-img-top" src="{{ img.image.url }}">
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</main>

<!--Designer info-->
<div class="container-fluid">
  <div class="row g-0">
    <div class="col-12 py-0">
      <div id="designer_info">
        <h2 class="pb-2">{{ designer.first_name }}</h2>
        <hr>
        <p class="pt-4">Location: {{ designer.location }}</p>
        <p>
          Starting Price: £{{ designer.starting_price }}
        </p>
        <!-- button classes from bootswatch lux theme -->
        {% if request.user.is_authenticated %}
          <div class="button-container" id="booking-btn">
            <a href="{% url 'booking' designer.id %}" class="btn btn-primary">
              <i>Make a Booking</i>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!--Designer Bio section-->
<div class="container-fluid">
  <div class="row g-0 container-center">
    <div class="col-12" id="designer-bio-container">
      <h2 class="pb-3 pt-3">Bio</h2>
      <hr>
    </div>
    <div class="col-sm-12 col-md-6 push-to-center text-center">
      <p class="pt-4">{{ designer.bio }}</p>
    </div>
    {% if not request.user.is_authenticated%}
      <div class="pt-3 text-center">
        <hr>
        <p class="pb-4 pt-4">
          <i>Like what you see?
            <br>
            <br>
            Create an Account to make a booking with{{ designer.first_name }}
          </i>
        </p>
        <div class="button-container">
          <a href="{% url 'account_signup' %}" class="btn btn-primary">
              <i>Sign Up</i>
          </a>
        </div>
        <p class="mt-2 link">
          <a href="{% url 'account_login' %}"><i>Or, Log Back In</i></a>
        </p>
      </div>
    {% endif %}
  </div>
</div>







{% endblock %}

