{% extends 'base.html' %}

{% block content %}

<!--Designer info-->
<!--Make into loop once modle are up and running-->
<div id="designer_info" class="container-fluid">
    <h2>Designer Name</h2>
    <h2>London</h2>
    <p>Starting Price - £2,800</p>
    <!-- button from bootswatch lux theme -->
    <div class="button-container-left d-flex justify-content-start">
        <button type="button" class="btn btn-primary">
            <a href="{% url 'view_booking' %}">Make a Booking</a>
        </button>
    </div>
</div>


<!--portfolio section-->
<!--album template from Bootstrap --->
<!--need to add loop for iteration and connect to image modle-->
<main role="main">
    <div class="album py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">Date posted</small>
                  <small class="text-muted">Likes</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a>View Portfolio</a>
      </div>
    </div>
  </main>

<!--Designer Bio section-->
<div id="designer-bio-container" class="container-fluid">
    <h2>Bio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<!--Reviews section-->
<div id="designer-review-container" class="container-fluid">
    <h2>Reviews</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>



{% endblock %}

