{% extends 'base.html' %}

{% block content %}

<div class="container-fluid title-container">
    <h1>Discover thier works...</h1>
</div>

<!--album template from Bootstrap --->
<main role="main">
    <div class="album py-5">
      <div class="container">
        <div class="row">
          {% for image in image_posts %}
            <div class="col-md-4">
              <!-- image --->
              <div class="card mb-4">
                <a href="{% url 'view_designer_profile' image.designer.pk %}">
                  <h5>{{ image.designer }}</h5>
                  <img class="card-img-top" src="{{ image.image.url }}">
                </a>
                <!-- details --->
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="justify-content-start">
                      <small class="text-muted">{{ image.date_posted|date:"d M Y" }}</small>
                    </div>
                    <div class="justify-content-end">
                      <small class="text-muted">
                        {% if user.is_authenticated %}
                          <form class="d-inline" action="{% url 'imagepost_like' image.slug %}" method="POST">
                              {% csrf_token %}
                              {% if liked %}
                                  <button type="submit" name="image_id" value="{{image.slug}}" class="btn btn-like">
                                    <i class="fa-solid fa-heart"></i>{{ image.number_of_likes }}
                                  </button>
                              {% else %}
                                  <button type="submit" name="image_id" value="{{image.slug}}" class="btn btn-like">
                                    <i class="fa-regular fa-heart"></i>{{ image.number_of_likes }}
                                  </button>
                              {% endif %}
                          </form>
                         {% else %}
                            <i class="fa-solid fa-heart"></i>
                            {{ image.number_of_likes }}
                         {% endif %}
                      </small>
                    </div>
                  </div>
                  <p class="card-text">{{ image.image_description }}</p>
                  <p class="card-text">{{ image.hashtags }}</p>
                </div>
                <!-- number of comments --->
                <div class="card-footer">
                  <small class="text-muted">
                    <a href="{% url 'imagepost_detail' image.slug %}">
                      {% with image.comments.count as total_comments %}
                        <p>View all {{ total_comments }} comments</p>
                      {% endwith %}
                    </a>
                  </small>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>

{% endblock %}
