{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <small id="back-link">
        <i class="fa-solid fa-chevron-left"></i>
        <a href="{% url 'discover_designers' %}">Back</a>
    </small>
    <div class="row g-0 container-center">
        <div class="col-md-5 py-0 push-to-center">
            <!-- image post detail -->
            <div class="card mb-4 mt-5">
                <a  href="{% url 'view_designer_profile' image_post.designer.pk %}">
                    <h5>{{ image_post.designer }}</h5>
                    <img class="card-img-top" src="{{ image_post.image.url }}">
                </a>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="justify-content-start">
                          <small class="text-muted">
                              {{ image_post.date_posted|date:"d M Y" }}
                            </small>
                        </div>
                        <div class="justify-content-end">
                          <small class="text-muted">
                              {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'imagepost_like' image_post.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                        <button type="submit" name="image_post_id" value="{{image_post.slug}}" class="btn btn-like">
                                            <i class="fa-solid fa-heart"></i>{{ image_post.number_of_likes }}
                                        </button>
                                    {% else %}
                                        <button type="submit" name="image_post_id" value="{{image_post.slug}}" class="btn btn-like">
                                            <i class="fa-regular fa-heart"></i>{{ image_post.number_of_likes }}
                                        </button>
                                    {% endif %}
                                </form>
                                {% else %}
                                    <i class="fa-solid fa-heart"></i>
                                    {{ image_post.number_of_likes }}
                                {% endif %}
                            </small>
                        </div>
                    </div>
                    <div class="text-left mt-4">
                        <p>{{ image_post.image_description }}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        {% with comments.count as total_comments %}
                          <p>{{ total_comments }} comments</p>
                        {% endwith %}
                    </small>
                </div>
            </div>
        </div>
    </div>
    <!-- comments -->
    <div class="row g-0 container-cetner">
        <div class="col-md-5 py-0 push-to-center">
            {% for comment in comments %}
                <div class="card-body comments">
                    <div>
                        <p>{{ comment.user }}</p>
                    </div>
                    <div>
                        <p>{{comment.body}}</p>
                    </div>
                    <div>
                        <p class="text-muted small">{{ comment.created_on | date:"d M Y"}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- comment form -->
    <div class="row g-0 container-cetner">
        <div class="col-md-5 py-0 push-to-center">
            <div class="card-body comments">
                {% if commented %}
                <div>
                    <p>Thank you for your comment.
                        <br>
                        <br>
                        Your comment is awaiting approval.
                    </p>
                </div>
                {% else %}
                    {% if user.is_authenticated %}
                        <h3>Leave a comment</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form method="POST">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        {% else %}
                        <div class="text-center mt-5">
                            <hr>
                            <h4 class="mt-4 mb-4">Join the conversation?</h4>
                            <p class="mb-4">Create an account with us to leave a comment.</p>

                            <button type="button" class="btn btn-primary">
                                <a href="{% url 'account_signup' %}"><i>Sign Up</i></a>
                            </button>

                            <p class="mt-4"></i><a href="{% url 'account_login' %}"><i>Or, Log Back In</i></a></p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}