{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <button onclick="history.back()" class="btn" id="back-btn">
        <small>
            <i class="fa-solid fa-chevron-left"></i>
            Back
        </small>
    </button>
    <div class="row container-cetner">
        <div class="col-md-5 push-to-center">
            <!-- image post detail -->
            <div class="card mb-4">
                <img class="card-img-top" src="{{ image_post.image.url }}">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="justify-content-start">
                          <small class="text-muted">{{ image_post.date_posted|date:"d M Y" }}</small>
                        </div>
                        <div class="justify-content-end">
                          <small class="text-muted"><i class="fa-solid fa-heart"></i>{{ image_post.number_of_likes }}</small>
                        </div>
                    </div>
                    <div class="text-left">
                        <p>{{ image_post.image_description }}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        {% with comments.count as total_comments %}
                          <p>{{ total_comments }} comments</p>
                        {% endwith %}
                    </small>
                </div>
            </div>
        </div>
    </div>
     <!-- comments -->
    <div class="row container-cetner">
        <div class="col-md-5 push-to-center">
            {% for comment in comments %}
                <div class="card-body comments">
                    <div>
                        <p>{{ comment.user }}</p>
                    </div>
                    <div>
                        <p>{{comment.body}}</p>
                    </div>
                    <div>
                        <p class="text-muted small">{{ comment.created_on | date:"d M Y"}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}