{% extends 'base.html' %}

{% block content %}

<!--hero image-->
<div id="hero-outer-container" class="container-fluid">
    <div id="hero-image"></div>
</div>

 <!--short intro-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-container">
            <P>Looking for a Bespoke wedding dress but unsure where to start? <i>Look no further.</i>
                <br>
                <br>
                Discover our range of talented designers, explore their work and book them in. 
            </P>
        </div>
    </div>
</div>
<!-- button from bootswatch lux theme -->
<div class="button-container d-flex justify-content-center">
    <a href="{% url 'discover_designers' %}">
        <button type="button" class="btn btn-primary btn-lg">
            <i>Discover Our Designers</i>
        </button>
    </a>
</div>

 <!--part of the union section -->
 <div class="container-fluid">
    <div class="row">
        <div class="col mt-5" id="index-img-1"></div>
    </div>
    <div class="row">
        <div class="col-md-12 text-container">
            <P>Already part of the Union?
                <br>
                <br>
                <a href="{% url 'account_login' %}"><i>Log Back In</i></a>
            </P>
            <P>Don't have an account yet?
                <br>
                <br>
                <a href="{% url 'account_signup' %}"><i>Sign Up here</i></a>
            </P>
        </div>
    </div>
</div>


 <!--find out more section -->
 <div class="container">
     <div class="row">
         <div class="col mt-5" id="index-img-2"></div>
     </div>
     <div class="row">
         <div class="col-12 text-container">
             <p>
                 Wondering what we do?
                 <br>
                 <br>
                 Find our who we are and and how we can help you.
             </p>
         </div>
     </div>
 </div>

 <div class="col-12 button-container d-flex justify-content-center">
    <a href="{% url 'about' %}">
        <button type="button" class="btn btn-primary">
            <i>About Us</i>
        </button>
    </a>
</div>


{% endblock %}
