{% extends 'base.html' %}

{% block content %}

<!--hero image-->
<section id="hero-outer-container" class="container-fluid">
    <div id="hero-image"></div>
</section>

 <!--tag line -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-container">
            <P>Looking for a Bespoke wedding dress but unsure where to start? <i>Look no further.</i>
                <br>
                <br>
                Discover our range of talented designers, explore their work and book them in. 
            </P>
        </div>
    </div>
</div>
<!-- button from bootswatch lux theme -->
<div class="button-container d-flex justify-content-center">
    <button type="button" class="btn btn-primary btn-lg">
        <a href="{% url 'discover_designers' %}">Discover Our Designers</a>
    </button>
</div>

 <!--short intro sectio -->
 <div class="container">
     <div class="row">
         <div class="col mt-5" id="img-intro-section"></div>
     </div>
     <div class="row">
         <div class="col-12 text-container">
             <p>
                 Wondering what we do?
                 <br>
                 <br>
                 Find out more about us and and how we can help you.
             </p>
         </div>
     </div>
 </div>

 <div class="col-12 button-container d-flex justify-content-center">
    <button type="button" class="btn btn-primary">
        <a href="{% url 'about' %}">About Us</a>
    </button>
</div>


{% endblock %}
