{% extends 'base.html' %}

{% block content %}

<!--hero image-->
<section id="hero-outer-container" class="container-fluid">
    <div id="hero-image">
        <img src="https://res.cloudinary.com/dllwurooy/image/fetch/https://res.cloudinary.com/dllwurooy/image/upload/v1644340472/birdal-union/duo-chen-s-unsplash_mvembb.jpg" class="img-fluid">
    </div>
</section>

 <!--tag line -->
<div id="tag-line" class="container-fluid">
    <p>Connecting you and the Designer for your Big day.</p>
</div>

<!-- button from bootswatch lux theme -->
<div class="button-container d-flex justify-content-center">
    <button type="button" class="btn btn-primary btn-lg">
        <a href="{% url 'discover_designers' %}">Discover Our Designers</a>
    </button>
</div>


{% endblock %}
