{% extends 'base.html' %}

{% block content %}

<!--Background image-->
<div>
</div>

<!--User log in -->
<div>
    <!--Email-->
    <!--Password-->
    <div>
        <!--Sign In Button (button from bootswatch lux theme)-->
        <button type="button" class="btn btn-primary">Log In</button>
    </div>
</div>

<!--Log Out Button (button from bootswatch lux theme)-->
<div>
    <button type="button" class="btn btn-primary">Log Out</button>
</div>

<!--Create Account Button redirects to create account page (button from bootswatch lux theme)-->
<div>
    <button type="button" class="btn btn-primary">Create Account</button>
</div>

 <!--Modal to show up once user has loged in / out successfully -->
 <div>
</div>


{% endblock %}
